:root {
  --background: #09090a;
  --border: #8d8d99;
  --hover: #2b2d33;
  --scroll: #09090a;
  --text: #ffffff;
  --title: #d5e6ff;
  --box: #202024;
  --skill: #29292e;
  --html: #593220;
  --react: #1c4763;
  --js: #5e5320;
  --git: #626266;
  --figma: #4c1d60;
  --design: #1e4621;
  --motion: #492529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%; // 15px
  }

  @media (max-width: 720px) {
    font-size: 87.5%; // 14px
  }
}

body {
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  color: var(--text);
}

button {
  cursor: pointer;
}

[disable] {
  opacity: 0.6;
  cursor: not-allowed;
}
