.container {
  background: var(--box);
  border-radius: 1.5rem;
  padding: 1.5rem;
  min-height: 25rem;
  width: 100%;

  h2{
    font-weight: 600;
    font-size: 1.7rem;
  }

  p{
    text-align: justify;
  }

  .back{
    background: #3a3a41;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: .4rem 1rem;
    border: 0;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    transition: all .2s;
    font-size: .8rem;

    &:hover{
      filter: opacity(80%);
    }
  }
}