.container {
  background: var(--box);
  border-radius: 1.5rem;
  padding: 1.5rem;
  min-height: 25rem;
  width: 100%;

  .menu {
    display: flex;
    flex-wrap: wrap;

    @media(max-width: 425px){
      flex-wrap: nowrap;
      flex-direction: column;
    }

    .link {
      color: var(--text);
      text-decoration: none;
      margin-right: 1rem;
      border-radius: 1.2rem;
      border: solid 1px var(--border);
      min-width: 150px;
      padding: 1rem;
      margin: .5rem;
      cursor: pointer;
      transition: all .2s;

      @media(max-width: 425px){
        min-width: 100%;
      }

      &:hover {
        color: var(--title);
        background: var(--hover);
      }
    }
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    max-width: 10rem;
    background: var(--box);
    border-radius: 1.2rem;
    border: solid 1px var(--border);
    transition: all 0.2s;

    &:hover {
      background: var(--hover);
    }

    h4 {
      color: var(--title);
      font-size: 1rem;
      font-weight: 500;
    }
  }
}
